.card {
    border: 1px solid black;
    margin-top: 180px;
    background-color: white;
    margin-left: 32px;
    border-radius: 10px;
    }
    .card-body {
    margin-top: 16px;
    width: 100px;
    padding-right: 20px;
    margin-right: 20px;
    padding-left: 20px;
    }
   
    .card-body>img {
    padding-left: 20px;
    margin-left: 20px;
    height: 80px;
    width: 80px;
    animation: rotation 2s infinite linear;
    }
   
    @keyframes rotation {
    from {
    transform: rotate(0deg);
    }
   
    to {
    transform: rotate(359deg);
    }
    } 